*{
	/*font-weight: bolder;*/
	/*font-size: 10px;*/
	/*font-family: 'Microsoft JhengHei','Roboto' , sans-serif;*/
    /*font-weight:600;*/
}
body{
    background-color: #F7F7F7;
}
.container{
	padding: 0 53px;

}
/*--------------carousel-indicators--------------*/
#carousel-sec-01{
	height: 285px;
}
.carousel-indicators{
	position: absolute;
	bottom: 0px;
}
.carousel-indicators li{
	background-color: #545454;
}
.carousel-indicators .active{
	background-color: #DDDDDD;
}
.carousel-indicators li:hover{
	background-color: #666666;
}
/*--------------pages--------------*/
.pages{
	padding: 0;
	text-align: center;
	margin-bottom: 26px;
}
.pages li{
	display: inline-flex;	
	padding: 0 5px;
}
.pages li a{
	width: 8px;
	height: 8px;
	border-radius: 15px;
	text-decoration: none;
	background-color: #545454;
}
.pages li a:hover{
	background-color: #666666;
}
.pages li .active{
	background-color: #DDDDDD;
}

.full-line{
	border-top:#545454 solid 2px; 
}
/*-------------title---------------*/
.title{
	font-size: 18.77px;
}
.title p{
	margin-bottom: 21px;
	margin-top: 31px;
}
/*----------section-00------------*/
.main-nav{
	margin-top: 17px;
	margin-bottom: 27px;
}
.main-nav ul{
	list-style: none;
	width: 28.1%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
}
.main-nav ul li{
	display: inline-flex;
	margin: 0px 18px;
}
.main-nav ul li a{
	padding: 4px 10px;
	border-radius: 15px;
	color: #545454;
	text-decoration: none;
}
.main-nav ul li a:hover{
	background-color: #DDDDDD;
	text-decoration: none;
}
#zzz{
	margin-left: auto;
	margin-right: auto; 
}
/*.main-nav ul li .active{
	background-color: #EDEDED;
}*/
/*----------section-01-----------*/
.sec-01-images{
	list-style: none;
	margin-bottom: 38px;
	padding: 0;
	width: 100%;
	height: 207px;
}
.sec-01-images li{
	display: inline-flex;
}
.sec-01-img-right{
	margin-left: 3.6%;
}

/*----------section-02-----------*/
.sec-02-content{
	padding: 53px 65px 46px 65px;
}
.sec-02-text{
	padding-top: 40px;
}
.sec-02-text p{
	line-height: 2em;
	margin: 0;
	font-size: 14.58px;
}

.img-left-text-right .sec-02-text{
	text-align: left;
	padding-left: 445px;
}
.img-left-text-right .sec-02-img{
	float: left;
}
.img-right-text-left .sec-02-text{
	text-align: right;
	padding-right: 445px;
}
.img-right-text-left .sec-02-img{
	float: right;
}
.img-left-text-right,.img-right-text-left{
	margin-bottom: 95px;
}


/*----------section-03----------*/
#carousel-sec-03-topic1,
#carousel-sec-03-topic2,
#carousel-sec-03-topic3,
#carousel-sec-03-topic4{
	height: 285px;
}
.sec-03-content{
	margin-bottom: 46px;
}
.sec-03-topics ul{
	list-style: none;
	margin: 32px auto 34px auto;
	width: 44%;
}
.sec-03-topics ul li{
	padding: 0 16px;
}
.sec-03-topics ul .line{
	border-right: 1px #545454 solid;
}
.sec-03-topics ul li,
.sec-03-images ul li{
	display: inline-flex;
}
.sec-03-topics ul li a{
	text-decoration: none;
	color: #545454;
	padding: 4px 10px;
	border-radius: 20px;
}
.sec-03-topics ul li a:hover{
	background-color: #DDDDDD;
}
.sec-03-topics ul li .active{
	background-color: #EDEDED;
}

.sec-03-images ul{
	padding: 0;
	margin: 0;
}
.sec-03-img-1,.sec-03-img-2,.sec-03-img-3{
	margin-right: 2%;
}
